body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #434242;
}

.signup-box {
  display: flex;
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  overflow: hidden;
}

.signup-left {
  background-color: #090446;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 20px;
}

.signup-avatar {
  width: 85%;
  height: auto;
}

.signup-right {
  padding: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-title {
  font-size: 24px;
  font-weight: bold;
  color: #090446;
  margin: 0;
}

.signup-subtitle {
  color: #090446;
  margin-top: 1%;
}

.signup-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.signup-input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #949191;
  font-size: 16px;
  background-color: rgb(188, 182, 182);
  margin-bottom: 15px;
}

.signup-button {
  padding: 12px;
  background-color: red;
  color: orange;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.signup-acc {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.signup-log {
  color: #090446;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .signup-box {
    flex-direction: column;
    width: 100%;
    max-width: none;
  }

  .signup-left {
    width: 100%;
    border-radius: 0;
    padding: 15px;
  }

  .signup-avatar {
    width: 70%;
  }

  .signup-right {
    width: 100%;
    padding: 20px;
  }

  .signup-title {
    font-size: 1.5rem;
  }

  .signup-subtitle {
    font-size: 1rem;
  }

  .signup-input {
    font-size: 14px;
    padding: 10px;
  }

  .signup-button {
    font-size: 1rem;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .signup-container {
    width: 90%;
    margin: auto;
  }

  .signup-left {
    padding: 10px;
  }

  .signup-avatar {
    width: 60%;
  }

  .signup-right {
    padding: 15px;
  }

  .signup-title {
    font-size: 1.2rem;
  }

  .signup-subtitle {
    font-size: 0.9rem;
  }

  .signup-input {
    font-size: 12px;
    padding: 8px;
    width: 60%;
  }

  .signup-button {
    font-size: 0.9rem;
    padding: 8px;
    margin: auto;
    width: 50%;
    margin-top: 2rem;
  }

  .signup-acc {
    width: 90%;
  }
}
